{{#each topics as |topic index|}}
<h2>
  <a href="/topics/{{topic.title}}">{{topic.title}}</a>
</h2>
{{/each}}

<h2>Ask Your Banker a Question</h2>
<form action="/topics" method="post">
  <input type="text" name="topic[title]" placeholder="Title">
  <input type="text" name="topic[description]" placeholder="Question">
  <input type="submit" value="Post Question">
</form>
