<div id="index-content" class="row grey lighten-2">
  <div id="index-card-image" class="col s12">

    {{#each topics as |topic index|}}
      <div id="index-card" class="card grey lighten-5 col s12 m4 l4">
        <h6 class="center-align light-blue-text text-darken-4">{{topic.title}}</h6>
        <div class="divider light-blue darken-3"></div>
        <p class="center-align light-blue-text text-darken-3">{{topic.description}}</p>
        <a id="index-buttons" class="btn-floating btn-small pulse orange lighten-2 right" href="/topics/{{topic.title}}"><i class="material-icons black-text">chevron_right</i></a>
      </div>
    {{/each}}

    <div id="index-crud-card" class="card grey lighten-5 col s12 m4 l4">
      <h6 class="center-align light-blue-text text-darken-4">Ask Your Banker a Question</h6>
      <div class="divider light-blue darken-3"></div>
      <form action="/topics" method="post">
        <div class="input-field">
          <input id="crud-topic" type="text" name="topic[title]" placeholder="Topic">
          <label for="crud-topic" class="light-blue-text text-darken-3">General Topic of Your Question</label>
        </div>
        <div class="input-field">
          <input id="crud-question" type="text" name="topic[description]" placeholder="Your Question">
          <label for="crud-question" class="light-blue-text text-darken-3">Your Question</label>
        </div>
        <button id="index-buttons" class="btn-floating btn-small pulse orange lighten-2 right" type="submit" name="action">
          <i class="material-icons black-text">chevron_right</i>
        </button>
      </form>
    </div>

  </div>

</div>
