<div id="index-content" class="row grey lighten-2">
  <div id="index-card-image" class="col s12">

    <a class="index-img-credit" style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@sakulich?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Sergei Akulich">
      <span style="display:inline-block;padding:2px 3px">
        <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white" viewBox="0 0 32 32">
          <title>unsplash-logo</title>
          <path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z">
          </path>
        </svg>
      </span>
      <span style="display:inline-block;padding:2px 3px">Sergei Akulich</span></a>

    {{#each topics as |topic index|}}
      <div id="index-card" class="card grey lighten-5 col s12 m4 l4">
        <h6 class="center-align light-blue-text text-darken-4">{{topic.title}}</h6>
        <div class="divider light-blue darken-3"></div>
        <p class="center-align light-blue-text text-darken-3">{{topic.description}}</p>
        <a id="index-buttons" class="btn-floating btn-small pulse orange lighten-2 right" href="/topics/{{topic.title}}"><i class="material-icons black-text">chevron_right</i></a>
      </div>
    {{/each}}

    <div id="index-crud-card" class="card grey lighten-5 col s12 m4 l4">
      <h6 class="center-align light-blue-text text-darken-4">Ask Your Banker a Question</h6>
      <div class="divider light-blue darken-3"></div>
      <form action="/topics" method="post">
        <div class="input-field">
          <input id="crud-topic" type="text" name="topic[title]" placeholder="Topic">
          <label for="crud-topic" class="light-blue-text text-darken-3">General Topic of Your Question</label>
        </div>
        <div class="input-field">
          <input id="crud-question" type="text" name="topic[description]" placeholder="Your Question">
          <label for="crud-question" class="light-blue-text text-darken-3">Your Question</label>
        </div>
        <button id="index-buttons" class="btn-floating btn-small pulse orange lighten-2 right" type="submit" name="action">
          <i class="material-icons black-text">chevron_right</i>
        </button>
      </form>
    </div>

  </div>

</div>
