<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fake Banking</title>
    <link rel="shortcut icon" href="./img/Logo-16x16-01.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body class="body">

    <div class="row">
      <nav class="orange lighten-2">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center black-text col s1 offset-s2">
            <img src="img/fake_bank.png" alt="fake bank logo">
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if currentUser}}
            <li><a href="/logout" class="logout black-text">Logout {{currentUser.local.email}}</a></li>
            {{/if}}
            <li><a href="" class="black-text"><i id="about" class="material-icons">person</i></a></li>
            <li ><a href="" class="black-text"><i id="contact" class="material-icons">phone_iphone</i></a></li>
            <li><a href="" class="black-text"><i id="location" class="material-icons">location_on</i></a></li>
          </ul>
        </div>
      </nav>
    </div>

    <main class="main"> 
        {{{body}}}
    </main> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
  
</html>

            {{!-- {{else}}
            <li><a href="/login" class="black-text">Login</a></li>
            <li><a href="/sign-up" class="black-text">Sign Up</a></li> --}}
