<div id="signup-content" class="row grey lighten-2">

  <div id="signup-card-image" class="col s12">



    <div id="signup-card" class="card grey lighten-5 right col s6 m4">
      <h5 class="signup-title"><strong>Sign Up For Online Banking</strong></h5>
      <div class="divider grey"></div>
      <div class="signup-form">
        <form method="post" action="/signup">
          <div class="form-group col s6">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email">
          </div>

          <div class="form-group col s6">
            <label for="email">Password</label>
            <input class="form-control" type="password" name="password" id="password">
          </div>

          <button id="signup-submit" class="waves-effect waves-light btn-small orange lighten-1 black-text col s6" type="submit">Sign Up!</button>
        </form>
      </div>
      {{#if message}}
        <div id="signup-alert" class="alert alert-danger">
          <span>{{message}}</span>
          <a href='/login' id="signup-login" class='waves-effect waves-light btn orange lighten-1 black-text col s6'>Login</a>
        </div>
      {{/if}}
      </div>
    </div>
  </div>

</div>
