<div id="subtopic-content" class="row grey lighten-2">

  <div id="subtopic-card-image" class="col s12">

    {{#each subtopics as |subtopic index|}}
      <div id="subtopic-card" class="card grey lighten-5 col s12 m4 l4">
        <h6 class="center-align light-blue-text text-darken-4">{{subtopic.name}}</h6>
        <div class="divider light-blue darken-3"></div>
        <p class="center-align light-blue-text text-darken-3">
          {{subtopic.detail}}
        </p>
      </div>
    {{/each}}

  </div>

</div>
