<div id="welcome-content" class="row white lighten-2">

    <div id="welcome-card-image" class="responsive-img col s12">

    </div>

    <div id="welcome-card" class="card white col s6 m4">
        <h5 id="card-text">Fake Online Banking</h5>
        <div class="divider"></div>
        <div class="welcome-flex">
            <a href='/signup' id="signup" class='waves-effect waves-light btn-large orange lighten-1 black-text'>Sign Up</a>
            <a href='/login' id="login" class='waves-effect waves-light btn-large orange lighten-1 black-text'>Login</a>
        </div>
    </div>

</div>

