{{!-- <h2 class='center-align'>Welcome to the Bank of Wade</h2> --}}

<div class="welcome">
    <div class="card transparent z-depth-5 col m12">
    </div>
</div>


{{!-- <div class='center-align'>
    <a href='/sign-up' class='waves-effect waves-light btn-large orange lighten-1 black-text'>Sign Up</a>
    <a href='/login' class='waves-effect waves-light btn-large orange lighten-1 black-text'>Login</a>
</div> --}}
