<div id="welcome-content" class="row grey lighten-2">

    <div id="welcome-card-image" class="responsive-img col s12">

    </div>

    <div id="welcome-card" class="card grey lighten-5 hoverable col s6 m4 l2">
        <h5 id="card-text" class="center">Fake Online Banking</h5>
        <div class="divider"></div>
        <div class="welcome-flex">
            <a href='/signup' id="signup" class='waves-effect waves-light btn-large orange lighten-1 black-text'>Sign Up</a>
            <a href='/login' id="login" class='waves-effect waves-light btn-large orange lighten-1 black-text'>Login</a>
        </div>
    </div>

</div>

