.body {
    overflow: hidden;
}

#nav-bar {
    margin-bottom: 0 !important;
}

#about {
    font-size: 3rem !important;
}

#contact {
    font-size: 3rem !important;
}

#location {
    font-size: 3rem !important;
}

#welcome-content {
    position: relative;
}

#welcome-card-image {
    background-image: url('img/woman_phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 1rem 0;
    position: absolute;
    opacity: 0.7;
}

.welcome-img-credit {
    bottom: 0;
    left: 0;
    position: fixed;
}

#welcome-card {
    border: 0.1rem solid black;
    border-radius: 0.4rem !important;
    height: 14.1rem;
    left: 10rem;
    opacity: 1;
    position: absolute;
    top: 10rem;
}

.welcome-flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-text {
    font-size: 1.5rem;
    padding: 0.6rem;
}

#signup {
    margin: 0.6rem auto;
}

#login {
    margin: 0.6rem auto;
}

#signup-content, #login-content, #index-content {
    height: 100vh;
    position: relative;
}

.signup-title, .login-title {
    margin: 0;
    padding: 1rem 0;
}

#signup-card-image {
    background-image: url('img/keyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 1rem 0;
    position: relative;
    opacity: 0.7;
}

.signup-img-credit, .login-img-credit, .index-img-credit {
    bottom: 0;
    position: absolute;
    right: 0;
}

#signup-card, #login-card {
    border: 0.1rem solid black;
    border-radius: 0.4rem !important;
    height: 22rem;
    opacity: 1;
    position: absolute;
    top: 10rem;
}

.form-group {
    margin: 1rem 0;
}

#login-card-image {
    background-image: url('img/work.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 1rem 0;
    position: relative;
    opacity: 0.7;
}

#index-card-image {
    background-image: url('img/treeline.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
    justify-content: space-evenly;
    margin: 1rem 0;
    position: relative;
    opacity: 0.7;
}

#index-card {
    border: 0.1rem solid black;
    border-radius: 0.4rem !important;
    height: 18rem;
    margin: 0;
    opacity: 1;
    top: 10rem;
}

#index-buttons {
    bottom: 0;
    position: absolute;
    margin: 1rem;
    right: 0;
}
