.body {
    overflow: hidden;
}

#nav-bar {
    margin-bottom: 0 !important;
}

#about {
    font-size: 48px !important;
}

#contact {
    font-size: 48px !important;
}

#location {
    font-size: 48px !important;
}

#welcome-content {
    position: relative;
}

#welcome-card-image {
    background-image: url('img/woman_phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 !important;
    position: absolute;
    opacity: 0.5;
}

.welcome-img-credit {
    bottom: 0;
    left: 0;
    position: fixed;
}

#welcome-card {
    border: 1px solid black;
    border-radius: 5px !important;
    height: 225px;
    left: 150px;
    opacity: 1;
    position: absolute;
    top: 150px;
    z-index: 1;
}

.welcome-flex-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-text {
    font-size: 24px;
    padding: 10px;
}

#signup {
    margin: 10px auto;
}

#login {
    margin: 10px auto;
}

#signup-content {
    position: relative;
}

#signup-card-image {
    background-image: url('img/keyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

#signup-img-credit {
    bottom: 0;
    right: 0;
    position: absolute;
}
