
html, body {
    height: 100%;
    overflow: hidden;
}

main {
    height: 100%;
    overflow: hidden;
}

nav {
    height: 4.5rem;
}

.brand-logo {
    height: 4.4rem;
    margin: 0 0 0 4rem;
    width: 4.4rem;  
}

nav > ul > .waves-effect > i {
    display: inline;
}

.waves-effect > .material-icons {
    vertical-align: top;
}

.waves-effect > span {
    font-size: 1rem;
    line-height: 0.5rem;
}

#welcome-card-image {
    background:
        linear-gradient(to left, transparent, #fff 95%), url('/img/dog_laptop.jpg');
    /* background-image:
        url('/img/dog_laptop.jpg'),
        -webkit-linear-gradient(to left, transparent, #fff); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#welcome-card {
    border-radius: 0.4rem !important;
    position: absolute;
    right: 10rem;
    top: 8rem;
}

.login {
    height: 8rem;
    margin: 2rem 0;
}

#log-submit {
    margin: 0.5rem 0 0 0;
}

.welcome-signup {
    height: 5rem;
    margin: 2rem 0;
}

.welcome-signup > a {
    margin: 1rem 0 0 0;
}
